[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "mnelab"
description = "A graphical user interface for MNE"
license = {text = "BSD 3-Clause"}
authors = [
    {name = "Clemens Brunner", email = "clemens.brunner@gmail.com"},
]
readme = "README.md"
requires-python = ">=3.10"
classifiers = [
    "License :: OSI Approved :: BSD License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
]
keywords = ["EEG", "MEG", "MNE", "GUI", "electrophysiology"]
dependencies = [
    "mne >= 1.7.0",
    "PySide6 >= 6.7.1",
    "edfio >= 0.4.2",
    "matplotlib >= 3.8.0",
    "numpy >= 2.0.0",
    "scipy >= 1.14.1",
    "pybv >= 0.7.4",
    "pyxdf >= 1.16.4",
    "pyobjc-framework-Cocoa >= 10.0; platform_system=='Darwin'",
]
dynamic = ["version"]

[project.optional-dependencies]
full = [
    "mne-qt-browser >= 0.6.2",  # alternative browser backend
    "python-picard >= 0.8.0",  # picard
    "scikit-learn >= 1.3.0",  # fastica
]
dev = [
    "mnelab[full]",
    "pytest",
    "pytest-qt",
    "pytest-xvfb",
    "ruff",
]

[project.gui-scripts]
mnelab = "mnelab:main"

[project.urls]
homepage = "https://github.com/cbrnr/mnelab"
documentation = "https://mnelab.readthedocs.io/en/latest/"
repository = "https://github.com/cbrnr/mnelab"
changelog = "https://github.com/cbrnr/mnelab/blob/main/CHANGELOG.md"

[tool.hatch.version]
path = "src/mnelab/__init__.py"

[tool.ruff.lint]
select = ["E", "F", "I", "W", "UP"]

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["F401"]
"mainwindow.py" = ["F405"]
