[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "mnelab"
description = "A graphical user interface for MNE"
license = {text = "BSD 3-Clause"}
authors = [
    {name = "Clemens Brunner", email = "clemens.brunner@gmail.com"},
]
requires-python = ">=3.9"
classifiers = [
    "License :: OSI Approved :: BSD License",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
]
keywords = ["EEG", "MEG", "MNE", "GUI", "electrophysiology"]
dependencies = [
    "mne >= 1.6.0",
    "PySide6 >= 6.6.0",
    "numpy >= 1.25.0",
    "scipy >= 1.10.0",
    "matplotlib >= 3.8.0",
    "pyxdf >= 1.16.4",
    "pyobjc-framework-Cocoa >= 10.0; platform_system=='Darwin'",
]
dynamic = ["version", "readme"]

[project.optional-dependencies]
full = [
    "scikit-learn >= 1.3.0",  # fastica
    "python-picard >= 0.7.0",  # picard
    "pyEDFlib >= 0.1.35",  # edf
    "pybv >= 0.7.4",  # brainvision
]
dev = [
    "mnelab[full]",
    "pre-commit",
    "pytest",
    "ruff",
    "setuptools",
]

[project.gui-scripts]
mnelab = "mnelab:main"

[project.urls]
homepage = "https://github.com/cbrnr/mnelab"
documentation = "https://mnelab.readthedocs.io/en/latest/"
repository = "https://github.com/cbrnr/mnelab"
changelog = "https://github.com/cbrnr/mnelab/blob/main/CHANGELOG.md"

[tool.ruff]
select = ["E", "F", "I", "W"]
line-length = 92

[tool.ruff.per-file-ignores]
"__init__.py" = ["F401"]
"mainwindow.py" = ["F405"]

[tool.setuptools.dynamic]
version = {attr = "mnelab.__version__"}
readme = {file = "README.md", content-type = "text/markdown"}
