[build-system]
requires = ["setuptools"]

[project]
name = "mnelab"
description = "A graphical user interface for MNE"
license = {text = "BSD 3-Clause"}
authors = [
    {name = "Clemens Brunner", email = "clemens.brunner@gmail.com"},
]
requires-python = ">=3.8"
classifiers = [
    "License :: OSI Approved :: BSD License",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
]
keywords = ["EEG", "MEG", "MNE", "GUI", "electrophysiology"]
dependencies = [
    "mne >= 1.2.0",
    "PySide6 >= 6.4.2",
    "numpy >= 1.20.0",
    "scipy >= 1.7.0",
    "matplotlib >= 3.6.2",
    "pyxdf >= 1.16.0",
    "pyobjc-framework-Cocoa >= 7.3.0; platform_system=='Darwin'",
]
dynamic = ["version", "readme"]

[project.optional-dependencies]
full = [
    "scikit-learn >= 1.0.0",  # fastica
    "python-picard >= 0.7.0",  # picard
    "pyEDFlib >= 0.1.22",  # edf
    "pybv >= 0.7.4",  # brainvision
]

[project.gui-scripts]
mnelab = "mnelab:main"

[project.urls]
homepage = "https://github.com/cbrnr/mnelab"
documentation = "https://mnelab.readthedocs.io/en/latest/"
repository = "https://github.com/cbrnr/mnelab"
changelog = "https://github.com/cbrnr/mnelab/blob/main/CHANGELOG.md"

[tool.isort]
profile = "black"
line_length = 92
multi_line_output = 3
include_trailing_comma = true

[tool.setuptools.dynamic]
version = {attr = "mnelab.__version__"}
readme = {file = "README.md", content-type = "text/markdown"}
