name: Release

on:
  # release:
  #   types: [published]
  push

jobs:
  style:
    name: Check style
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    - uses: pre-commit/action@v3.0.1

  build:
    needs: style
    name: Build package
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    - name: Build sdist and wheel
      run: |
        pip install build
        python -m build
    - uses: actions/upload-artifact@v4
      with:
        name: dist
        path: dist/*

  upload-pypi:
    name: Upload to PyPI
    needs: build
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: dist
      # - uses: pypa/gh-action-pypi-publish@v1.8.14
      #   with:
      #     user: __token__
      #     password: ${{ secrets.PYPI_API_TOKEN }}
