name: Release

on:
  release:
    types: [published]

jobs:
  style:
    name: Check style
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: astral-sh/ruff-action@v1
    - uses: astral-sh/ruff-action@v1
      with:
        args: "format --check"

  build:
    needs: style
    name: Build package
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    - name: Build sdist and wheel
      run: |
        pip install build
        python -m build
    - uses: actions/upload-artifact@v4
      with:
        name: dist
        path: dist

  upload-pypi:
    name: Upload to PyPI
    needs: build
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist
      - uses: pypa/gh-action-pypi-publish@v1.10.3
