name: Test

on: pull_request

jobs:
  style:
    name: Style
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
    - uses: pre-commit/action@v2.0.3

  build-wheel:
    name: Build wheel
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
    - name: Build wheel
      run: |
        pip install PyQt6-Qt6
        pip wheel -w ~/.wheelhouse .
    - uses: actions/upload-artifact@v2
      with:
        name: wheel
        path: ~/.wheelhouse/mnelab*.whl

  test:
    needs: build-wheel
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10"]
    name: Run tests (Python ${{ matrix.python-version }})
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - uses: actions/download-artifact@v2
      with:
        name: wheel
    - name: Install Linux packages
      run: |
        sudo apt install libxkbcommon-x11-0 libxcb-icccm4 libxcb-image0 libxcb-keysyms1 \
                         libxcb-randr0 libxcb-render-util0 libxcb-xinerama0 libxcb-xfixes0
    - name: Install Python packages
      run: |
        pip install $(echo mnelab*.whl)
        pip install pytest pytest-qt pytest-xvfb
    - name: Run tests
      run: pytest
