name: Test

on:
  push:
    branches:
    - main
  pull_request:
    paths-ignore:
    - 'docs/**'
  workflow_call:

jobs:
  style:
    name: Check style
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - uses: astral-sh/ruff-action@v3
    - uses: astral-sh/ruff-action@v3
      with:
        args: "format --diff"

  test:
    needs: style
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13']
    name: Run tests (Python ${{ matrix.python-version }})
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - name: Install uv
      uses: astral-sh/setup-uv@v5
    - name: Set up Python ${{ matrix.python-version }}
      run: uv python install ${{ matrix.python-version }}
    - name: Install Linux packages
      run: |
        sudo apt update
        sudo apt install libxcb-icccm4 libxcb-image0 libxcb-keysyms1 \
                         libxkbcommon-x11-0 xvfb libxcb-randr0 \
                         libxcb-render-util0 libxcb-xinerama0 libegl1 \
                         libxcb-shape0 libxcb-cursor0
    - name: Install the project
      run: uv sync --all-extras
    - name: Run tests
      run: uv run pytest -W error tests
